@import url('https://fonts.googleapis.com/css?family=Lato:400,900|Roboto:400,400i,700');



/* form styling */
#newPlantForm {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 85%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 4% 10% 1% 10%;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.10);
  background: #dfe8db;
  color: #2e2c2f;
  position: relative;
  font-size: 1.8rem;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

input {
  border: none;
  background: #dfe8db;
}

#nickname {
  width: 30%;
  margin: 0;
  border-bottom: 1px solid;
}

.top {
  text-align: left;
  /* position: relative; */
}

.top label {
  padding-right: 1rem;
}

.second {
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
}

#sunWater {
  display: flex;
  justify-content: space-between;
}

legend {
  text-transform: uppercase;
  padding-bottom: 1%;
  font-weight: bold;
}

fieldset {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: none;
  text-align: left;
  margin-bottom: 2%;
  padding: 0;
}

fieldset.typeOfPlant {
  margin: 0 auto;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+label{ 
  font-weight: bold; 
} 

input[type="radio"]:hover+label{
  /* transform: scale(1.2); */
  font-weight: bold;
}

.waterIcon {
  color: #5dd2f0;
}

.sun {
  color: #ffc918;
}

.typeNotes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 1rem;

}

#typeOfPlant {
 /* flex-basis: 30%; */
 text-align: left;
 padding: 0;
 margin: 0;
}


.speciesInput {
  text-align:right;
  width: 100%;
  margin-bottom: 3rem;
  margin-left: 1rem;
  flex-direction: row;
}

.speciesInput input {
  background: none;
  border-bottom: 1px solid black;
  /* padding: 1px; */
  font-style: italic;
}

.speciesInput label {
  padding-right: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.speciesDateContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

input[type="date"]{
  font-style: italic;
  color: #475b63;
  margin-bottom: 3rem;
}


textArea {
  border: 2px solid #475b63;
  background: none;
  padding: 1rem;
}

div.notes{
  display: flex;
  flex-direction: column;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
}


/* shelf styling */
.plantShelf {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}


/* plantCard styling */
.plantCard {
  border: none;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  margin-bottom: 2rem;
  padding: 2rem;
  color: #2e2c2f;
  background-color: #DFE8DB;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.10);
         
}

h4 {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.listItem{
  font-weight: bold;
}

.species {
  font-style: italic;
}

li {
  padding: .5rem 0rem;
  background-position: 0 1rem;
  background-size: 5rem auto;
  background-repeat: no-repeat;
}

/* li.species{
  background-image: url("../assets/plant.png");
}

li.water {
  background-image: url("../assets/watering-can.png");
} */

li.sunshine{

}



.wateringcan {
  width: 20%;
  margin: 0;
  padding: 0;
}
